$color-background-primary: rgba(131, 58, 180, 1);
$color-background-error: rgba(253, 29, 29, 1);
$color-background-warning: rgba(252, 176, 69, 1);
$color-background-light: rgba(255, 255, 255, .1);
$color-background-dark: rgba(35, 35, 35, 1);

$color-shadow: rgba(0, 0, 0, .4);

$color-text: rgba(38, 38, 38, 1);
$color-text-light: rgba(98, 98, 98, 1);
$color-text-lightest: rgba(230, 230, 230, 1);

$color-border: rgba(38, 38, 38, 1);
$color-border-light: rgba(98, 98, 98, 1);
$color-border-lightest: rgba(230, 230, 230, .3);
