@import '../../assets/scss/colors';

.dm-home {
    &__popular,
    &__results {
        border-top: 1px solid $color-border-lightest;
        margin-bottom: 160px;
        margin-top: 80px;
    }

    &__images {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    &__title {
        color: $color-text-lightest;
        font-size: 2em;
        font-weight: 300;
        margin: 40px 0;
        text-align: center;
    }

    &__hot {
        color: $color-background-error;
    }
}
