@import '../../assets/scss/mixins';

.dm-movie {

    &__background {
        align-items: center;
        display: flex;
        flex-direction: row;
        height: 550px;
        justify-content: space-evenly;

        @media (max-width: 600px) {
            flex-direction: column;
            justify-content: flex-start;
            padding-top: 4em;
        }
    }

    &__poster {
        flex: 1;
        height: 70%;

        @media (max-width: 600px) {
            margin: .5em 0;
        }
    }

    &__image {
        border: 5px solid rgba(255,255,255,.15);
        border-radius: 8px;
        height: 100%;
    }

    &__details {
        flex: 1.8;
        height: 70%;

        h1 {
            @include text-shadow;

            color: $color-text-lightest;
            font-size: 2.8em;
            font-weight: bold;

            small {
                font-size: .5em;
            }
        }

        @media (max-width: 600px) {
            margin: .5em 0;
            padding: 0 20px;
        }
    }

    &__overview {
        color: $color-text-lightest;
        padding: 30px 0;
    }
}
